/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */


.title{

 font-family: 'Battambang', sans-serif;
    font-size: 55px;
    text-align: center;
    font-weight: normal;
    margin-top: 60px;

}
.subheading{

    font-family: 'Niconne';
    font-size: 120px;
    text-align: center;
    font-weight: normal;
    font-weight: 300;
    margin-top: -20px;
}

.text{

    font-family: 'Battambang';
    text-align: center;
    font-weight: normal;
    font-size: 18px;

}
.imageCase{
    width: 590px;
    height: 440px;
    margin-top: 70px;

}




.logo{
    width: 90px;
    height: 90px;

}

.hero_items{

    display: grid;
    grid-template-columns: 45% 55%;

    grid-column-end: auto;


}

.right{
    display: flex;
    flex-direction: column;

}
.logoBrand{
    display: flex;

}
.titleNextToBrand{


margin-top: 27px;
    font-family: Montserrat;
    color: green;
}
.city{

    font-family: Montserrat;
    margin-top: 4px;

}
.titlebrandBox{
    margin-left: -5px;

}

.information{

    display: flex;

    justify-content: space-between;
    margin-left: 23px;
}

.infoText{

    font-family: Montserrat;
    font-size: 18px;

}

.underInfo{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 3px;

}

.backgroundBar{
    width: 760px;
    height: 12px;
    margin-left: 23px;
    background: gray;
    border-radius: 15px;
    margin-top: 15px;

}
.bar{
    width: 550px;
    height: 12px;
    margin-left: 23px;
    background: #456F51;
    border-radius: 15px 0 0 15px    ;
    margin-top: -12px;


}
.contribuer{

width: 600px;
    height: 80px;
    color: white;
    background-color: #456F51;
    border: none;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 23px;
}

.socialMedia{
 display: flex;
margin-top: 25px;
    justify-content: center;
    gap: 60px;


}
.photoSocials{

    width: 40px;
    height: 40px;
    border-radius: 5px;


}

.middlebanner{

    width: 100%;
    height: 90px;
    background-color: #EFEFEF;
    display: flex;
    justify-items: center;
    justify-content: center;

}

.elementBanner{
display: flex;
    gap: 110px;
    align-items: center;


}
.element{
    font-family: Montserrat;
    font-size: 16px;



}

.circleinfo{
    width: 22px;
    height:22px;
    background-color:#456F51;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.boiteElement{

    display: flex;
    gap: 5px;

    align-items: center;
}

.nombrecircle{
    color: white;
    font-size: 10px;
}

.boitebtn{

    display: flex;
    align-items: center;
    margin-left: 100px;

}

.btnContribuer{

    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #456F51;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 15px;


}

.titleSection{
    font-family: 'Battambang';
    font-size: 50px;
    font-weight: 500;
    margin-top: 60px;


}
.textInfo{

font-size: 17px;
    font-family: 'Battambang', sans-serif;
    margin-left: 3px;



}

.conteneur{

    display: grid;
    grid-template-columns: 65% 35%;

}
.imagePhones{

    border-radius: 11px;
    border:solid #456F51;
    border-width: 3px;
}

.secondtextInfo{

    font-size: 17px;
    font-family: 'Battambang', sans-serif;
    margin-top: 70px;
    margin-left: 3px;

}

.rightPart{
    display: flex;
    flex-direction: column;


}
.boiteContribution{

    border-radius: 10px;
    display: block;
    width: 350px;
    height: 460px;
    border: solid #a8a8a8 2px;

    margin: 90px auto 0px 120px;



}

.boiteImage{

    width: 350px;
    height: 140px;
    background-color: #456F51;
    border-radius: 2px;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.imageboite{

width: 130px;
    height: 130px;



}

.lastoiteContribution{

    border-radius: 10px;
    display: block;
    width: 350px;
    height: 325px;
    border: solid #a8a8a8 2px;

    margin: 90px auto 0px 120px;


}
