/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */


.title{

 font-family: 'Battambang', sans-serif;
    font-size: 55px;
    text-align: center;
    font-weight: normal;
    margin-top: 60px;

}
.subheading{

    font-family: 'Niconne';
    font-size: 120px;
    text-align: center;
    font-weight: normal;
    font-weight: 300;
    margin-top: -20px;
}

.text{

    font-family: 'Battambang';
    text-align: center;
    font-weight: normal;
    font-size: 18px;

}
.imageCase{
    width: 590px;
    height: 440px;
    margin-top: 70px;

}




.logo{
    width: 90px;
    height: 90px;

}

.hero_items{

    display: grid;
    grid-template-columns: 45% 55%;

    grid-column-end: auto;


}

.right{
    display: flex;
    flex-direction: column;

}
.logoBrand{
    display: flex;

}
.titleNextToBrand{


margin-top: 27px;
    font-family: Montserrat;
    color: green;
}
.city{

    font-family: Montserrat;
    margin-top: 4px;

}
.titlebrandBox{
    margin-left: -5px;

}

.information{

    display: flex;

    justify-content: space-between;
    margin-left: 23px;
}

.infoText{

    font-family: Montserrat;
    font-size: 18px;

}

.underInfo{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 3px;

}

.backgroundBar{
    width: 760px;
    height: 12px;
    margin-left: 23px;
    background: gray;
    border-radius: 15px;
    margin-top: 15px;

}
.bar{
    width: 550px;
    height: 12px;
    margin-left: 23px;
    background: #456F51;
    border-radius: 15px 0 0 15px    ;
    margin-top: -12px;


}
.contribuer{

width: 600px;
    height: 80px;
    color: white;
    background-color: #456F51;
    border: none;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 23px;
}

.socialMedia{
    display: flex;
    gap: 60px;
    margin-top: 20px;

    align-items: center;



}


